<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socket.io</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="jquery.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #div-list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .active {
                color: greenyellow;
            }
            .activeRoom {
                color: red;
            }
        </style>
    </head>
    <body>
        <h3>Socket.io</h3>
        <div id="div-sign-up">
            <input type="text" placeholder="Enter your username" id="txtUsername">
            <br><br>
            <button id="btnSignUp">Sign Up</button>
            <br>
        </div>
        <div id="div-chat">
            <input type="text" placeholder="Enter your message" id="txtMessage">
            <br><br>
            <button id="btnSend">Send All</button>
            <br>
            <br>
            <button id="btnSendPrivate">Send Private</button>
            <br>
            <br>
            <button id="btnSendRoom">Send Room</button>
            <br>
            <br>
            <div id="div-list">
                <div>
                    <label>List messages:</label>
                    <ul id="ulMessages"></ul>
                </div>
                <div>
                    <label>List messages:</label>
                    <ul id="ulRooms">
                        <li>NODEJS</li>
                        <li>ANDROID</li>
                        <li>IOS</li>
                    </ul>
                </div>
                <div>
                    <label>List messages:</label>
                    <ul id="ulUsers"></ul>
                </div>
            </div>
        </div>
    </body>
    <script src="main.js"></script>
</html>
